@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900 */
}